<div class="tray-schematic-wrapper">
  <div class="tray-schematic">
    <ng-container [ngSwitch]="tray.type">
      <!-- Общий случай для типов с количеством секций -->
      <div
              *ngSwitchCase="tray.type"
              class="tray-grid"
              [ngClass]="'tray-type-' + tray.type"
      >
        <div
                class="section"
                *ngFor="let section of generateSections(tray.type)"
                [class.selected]="selectedSection === section"
                [class.missing]="isSectionMissing(section)"
        >
          <span class="cell-number">{{ section }}</span>
        </div>
      </div>

      <!-- Ошибка: Тип лотка не распознан -->
      <div *ngSwitchDefault class="error">
        <p>Тип лотка не распознан. Проверьте данные.</p>
      </div>
    </ng-container>
  </div>
</div>