.tray-overview {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.frame {
  flex: 1;
  padding: 10px;
}

.ean-input {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.ean-input input {
  flex: 1;
  padding: 12px; /* Увеличенный отступ */
  width: 300px; /* Фиксированная ширина */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 25px; /* Увеличенный размер текста */
}

.ean-input button {
  padding: 12px; /* Такой же отступ, как у инпута */
  width: 150px; /* Та же ширина, что и у инпута */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 25px; /* Размер текста соответствует инпуту */
  cursor: pointer;
}

.ean-input button:hover {
  background-color: #0056b3;
}

.ean-input button:hover {
  background-color: #0056b3;
}

.frame-activity-code {
  flex: 0.1; /* Одна десятая высоты строки */
  text-align: center;
  padding: 10px;
}

.activity-code-box {
  display: inline-block;
  background-color: #b0e0e6; /* Бледно-лазурный цвет */
  border-radius: 10px; /* Скругленные углы */
  padding: 5px 10px; /* Внутренние отступы */
  text-align: center;
  font-weight: bold;
  color: #000; /* Черный текст */
  white-space: nowrap; /* Отключаем перенос текста */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Легкая тень */
}